.contact {
  margin: 140px 0 126px;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.39);
    gap: 30px;
  }
  &__info-box {
    position: relative;
    padding: 123px 219px 319px 86px;
    h1 {
      font-family: Raleway;
      font-size: 48px;
      font-weight: 600;
      line-height: 56.35px;
      margin-bottom: 56px;
      color: #ffffff;
    }
    p {
      font-family: Raleway;
      font-size: 16px;
      font-weight: 500;
      line-height: 18.78px;
      color: #ffffff;
      margin-bottom: 36px;
    }
  }
  &__img-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -4;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__form {
    padding: 95px 66px 98px 30px;
    flex-grow: 1;
    div {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 7px;
      width: 100%;
      margin-bottom: 21px;
      textarea,
      input {
        border: 1px solid #969393;
        outline: none;
        color: #969393;
        padding: 22px 16px 27px;
        width: 100%;
        color: #000;
      }
      textarea{
        width: 100%;
        height: 229px;
        resize: none;
      }
      label {
        font-family: Raleway;
        font-size: 14px;
        font-weight: 500;
        line-height: 16.44px;
        color: #373737;
      }
    }
    button{
        padding: 8px 30px;
        border: none;
        background-color: #4285f4;
        color: #ffffff;
        border-radius: 6px;
    }
  }
}
