.footer {
  background-color: #bcddfe;
  &__wrapper {
    padding: 40px 16px;
  }
  &__logo-title {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    text-wrap: nowrap;
  }
  &__logo-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row !important;
    margin-bottom: 20px;
    padding: 0 !important;
    cursor: pointer;
    gap: 5px;
  }
  &__top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 40px;
    &__row {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h3 {
        margin-bottom: 20px;
        cursor: pointer;
      }
      div {
        padding-top: 15px;
        display: flex;
        gap: 20px;
      }
    }
    &__row p {
      font-family: Poppins;
      font-size: 12px;
      font-weight: 400;
      line-height: 14.62px;
      color: #22262a;
    }
    &__row.open p,
    &__row.open div {
      display: block;
    }
    @media (max-width: 800px) {
      &__row p,
      &__row div {
        display: none;
      }
    }
  }
  &__mid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;

    &__list {
      list-style: none;
      padding: 0;
      h3 {
        margin-bottom: 20px;
        font-size: 18px;
        cursor: pointer;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;
      }
      &.open ul {
        display: block;
      }
      @media (max-width: 800px) {
        ul {
          display: none;
        }
        &.open ul {
          display: block;
        }
      }
    }

    &__item {
      margin-bottom: 10px;
      font-size: 16px;
    }
  }
  &__bot {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      font-family: Poppins;
      font-size: 14px;
      font-weight: 400;
      line-height: 17.05px;
      text-align: left;
      color: #c1c8ce;
    }
  }
}
@media (max-width: 768px) {
  .footer__top {
    grid-template-columns: 1fr;
    &__row {
      h3 {
        cursor: pointer;
      }
    }
  }

  .footer__mid {
    grid-template-columns: 1fr 1fr;
  }
  .footer__bot {
    p {
      font-size: 12px;
    }
  }
}

@media (max-width: 800px) {
  .footer__wrapper {
    padding: 20px 16px;
  }
  .footer__top {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__top__row {
    &:last-child {
      display: none;
    }
  }
  .footer__mid {
    grid-template-columns: repeat(2, 1fr);
    &__list {
      h3 {
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 500px) {
  .footer {
    margin-bottom: 65px;
  }
  .footer__bot {
    display: none;
  }
}

@media (max-width: 420px) {
  .footer__top {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__mid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 350px) {
  .footer__top {
    grid-template-columns: 1fr;
  }
  .footer__mid {
    grid-template-columns: 1fr;
  }
}
